.root {
    -fx-font-family: Questrial-Regular;
    -base-background: rgb(238,239,239);
    -base-border-color: rgb(205, 205, 205);
    -bar-background: rgb(204, 204, 187, 0.4);
    -title-bar-background: rgb(240, 240, 240);
    -corner-background: rgb(204, 204, 187, 0.4);    
    -fx-background-color: -base-background;
    -orange-color: rgb(237, 93, 37);
    -orange-gradient-end: rgb(188, 72, 27);
    -orange-gradient-start: rgb(237, 93, 37);
    -orange-gradient-highlight: rgb(255, 134, 68); 
    -green-color: rgb(92,183,186);
    -green-gradient-end: rgb(82, 154, 158);
    -green-gradient-highlight: rgb(115, 219, 223);
    -fx-text-color: rgb(37, 98, 136);
    -blue-highlight: rgb(97, 157, 206);
    -blue-gradient-start: rgb(70, 140, 199);
    -blue-shadow: rgb(49, 98, 156);
    -border-blue: rgb(49, 109, 160);
    -window-background: white;
    -logo-light-blue: rgb(41, 132, 191);
    -top-bar-color: rgb(49, 109, 160);
    -blue-very-dark: rgb(26, 73, 94);
    -window-selected-color: -top-bar-color;
    -window-flash-color: -green-color;
	-base-blue-gradient:
    	linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    	
    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
    -fx-focus-color: -base-border-color;
    
    -fx-faint-focus-color: transparent;
    -fx-inner-border: transparent;
    -chart-data0-color: derive(-border-blue /*derive(rgb(92,183,186)*/, 90%);
    -chart-data1-color: derive(-border-blue /*derive(rgb(92,183,186)*/, 30%);
    -chart-data2-color: derive(-border-blue /*derive(rgb(92,183,186)*/, -25%);
}

.tooltip {
    -fx-background-color: rgb(49, 109, 160, .5);
    -fx-font-size: 10;
}

.window-content-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 5 5 5 5;
}

.content-area {
    -fx-padding: 0 0 5 0;
}

.app-window {
    -fx-background-color: -window-background;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.app-window-selected {
    -fx-background-color: -window-background;
    -fx-border-color: -window-selected-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.app-window-status {
    -fx-text-fill: rgb(55, 55, 55, 0.7);
    -fx-label-padding: 3 0 0 0;
}

.app-window-status-out {
    -fx-text-fill: rgb(55, 55, 55, 0.7);
    -fx-label-padding: 3 0 0 5;
}

.app-window-status-retina-name {
    -fx-text-fill: -border-blue;
    -fx-background-insets: 1 0 0 0;
    -fx-background-color:
        linear-gradient(to bottom, rgb(240, 240, 240) 0%, rgb(220, 220, 220) 100%);
    -fx-label-padding: 0 0 0 5;
    -fx-font-size: 10;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.2em 0 0.2em;  
}

.main-background {
    -fx-background-color: white;
}

.main-center {
    -fx-background-color: transparent;
}

.main-borderpane {
    -fx-padding: 0 20 20 20;
}

.main-pane {
    -fx-background-color: transparent;
}

.icon-area {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
    -fx-padding: 5 5 5 5;
}

.window-pane {
    -fx-background-color: rgb(238,239,239, 0.5);
    -fx-background-radius: 10 10 10 10;
}

.window-icon {
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: 2;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2;
    -fx-border-color: -base-border-color;
}

.window-icon-colorid {
    -fx-background-radius: 10 0 0 10;
}

.window-icon-box {
    -fx-padding: 2 23 2 0;
    -fx-background-color: transparent;
}

.window-icon-box-icons {
    -fx-stroke: -top-bar-color;
    -fx-stroke-type: centered;
    -fx-stroke-width: 1;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.connected-input-window-title:hover,
.connected-input-window-title:hover:visited {
    -fx-text-fill: -green-color;
    -fx-underline: false;
    -fx-font-size: 14;
}

.connected-input-window-title,
.connected-input-window-title:visited,
.connected-input-window-title:armed,
.connected-input-window-title:visited:armed {
    -fx-text-fill: -border-blue;
    -fx-underline: false;
    -fx-font-size: 13;
    -fx-border-width: 0;
}

.header-powered-by,
.header-powered-by:visited,
.header-powered-by:hover:visited {
   -fx-text-fill: white;
   -fx-border-color: transparent;
   -fx-border-width: 0;
   -fx-cursor: hand;
   -fx-font-family: Questrial-Regular;
   -fx-font-size: 17;
}

.header-powered-by:hover {
    -fx-underline: false;
    -fx-text-fill: derive(-logo-light-blue, 80%);
}

.overlay-hyperlink {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-text-color;  
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: -orange-color;
}

.input-toggle-dialog {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.window-error-dialog .button,
.input-toggle-dialog .button {
    -fx-text-fill: white;
    -fx-border-color: -border-blue;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.window-error-dialog .button:pressed,
.input-toggle-dialog .button:pressed {
    -fx-text-fill: -blue-highlight;
    -fx-border-color: -border-blue;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.window-error-dialog .button:hover,
.input-toggle-dialog .button:hover {
    -fx-text-fill: white;
    -fx-border-color: -border-blue;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.window-error-dialog {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-thickness: 1;
    -fx-padding: 10;
}

.control-pane-api-button {
    -fx-background-color:
            linear-gradient(to bottom, -orange-gradient-start 0%, -orange-gradient-end 100%);
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 5 5 5 5;
}

.control-pane-api-textflow {
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.control-pane-api-textflow > .text-input {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.control-pane-header-add-input-button {
    -fx-background-color: -green-color;//-top-bar-color;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: snow;
    -fx-padding: 5 0 5 1;
    -fx-font-size: 15;
}

.control-pane-header-add-input-button:pressed {
    -fx-text-fill: derive(-logo-light-blue, 80%);
}

.control-pane-header-add-output-button {
    -fx-background-color: -orange-color;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: snow;
    -fx-padding: 5 0 5 1;
    -fx-font-size: 15;
}

.control-pane-header-add-output-button:pressed {
    -fx-text-fill: derive(-orange-color, 70%);
}

.control-pane-header-add-button .button .text {
    -fx-effect: dropshadow(one-pass-box, -blue-shadow, 1, 1, 0, -1);
}

.control-pane-header-plus {
    -fx-background-color:
            linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-border-color: transparent; 
    -fx-border-width: 1;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.control-pane-accordian-spacer {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1;
}

.control-pane-spacer-box {
    -fx-background-radius: 0 0 5 5;
    -fx-border-radius: 0 0 5 5;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 1 1;
    -fx-padding: 5 5 5 5;
}

.control-pane-header {
    -fx-background-color: -top-bar-color;
    -fx-background-radius: 0 0 10 10;
}

/////////////////////////////////
//     WindowTitlePane (in)    //
/////////////////////////////////
.control-pane-accordian-in > .titled-pane {
    -fx-text-fill: ivory;
}

.control-pane-accordian-in > .titled-pane > .title {
    -fx-background-color: -green-color;//-border-blue;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: ivory;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.control-pane-accordian-in > .titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: ivory;
}

.control-pane-accordian-in > .titled-pane > *.content {
    -fx-background-color: transparent;
}

//////////////////////////////////
//     WindowTitlePane (out)    //
//////////////////////////////////
.control-pane-accordian-out > .titled-pane {
    -fx-text-fill: ivory;
}

.control-pane-accordian-out > .titled-pane > .title {
    -fx-background-color: rgb(237, 93, 37, 0.4);//-border-blue;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: ivory;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.control-pane-accordian-out > .titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: ivory;
}

.control-pane-accordian-out > .titled-pane > *.content {
    -fx-background-color: transparent;
}

.control-pane-spacer-label {
    -fx-text-fill: -fx-text-color;
    //-fx-font-weight: bold;
    -fx-font-size: 16;
}

.accordion-name {
    -fx-text-fill: ivory;
    -fx-font-size: 14;
}

.accordion-name-selected {
    -fx-text-fill: -orange-color;
    -fx-font-size: 14;
}

.accordion-location {
    -fx-text-fill: ivory;
    -fx-font-size: 10;
}

.accordion-visible-check {
    -fx-text-fill: ivory;
    -fx-font-size: 10;
}

.window-text-area {
    -fx-background-insets: -3;
    -fx-background-color: -window-background;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;

    -fx-box-border: -window-background;
    -fx-focus-color: -window-background;
    -fx-faint-focus-color: -window-background;
    -fx-text-box-border: -window-background;
    -fx-border-width: 1;
    -fx-border-color: lightGray;
}

.window-text-area:focused {
    -fx-background-color: -window-background;
    -fx-border-insets: 0;
    -fx-text-box-border: transparent; 
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.title-bar {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: -window-background;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 5 5 0 0;
    -fx-padding: 1 0 0 0;
}

.title-bar .text-field {
    -fx-background-color: -window-background;
    -fx-text-box-border: -window-background; 
    -fx-focus-color: -window-background;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: -fx-text-color;
}

.title-bar .text-field:focused {
    -fx-background-color: -window-background;
    -fx-border-insets: 0;
    -fx-text-box-border: transparent; 
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.title-bar-selected {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: -window-background;
    -fx-border-color: -window-selected-color;
    -fx-border-width: 1;
    -fx-border-radius: 5 5 0 0;
    -fx-padding: 2 0 0 0;
}

.title-bar-selected .text-field {
    -fx-background-color: -window-background;
    -fx-text-box-border: -window-background; 
    -fx-focus-color: -window-background;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: -fx-text-color;
}

.title-bar-selected .text-field:focused {
    -fx-background-color: -window-background;
    -fx-border-insets: 0;
    -fx-text-box-border: transparent; 
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.out-segmented-button-bar .button {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-text-fill: snow;
    -fx-padding: 6 12 6 12;
    -fx-font-size: 11;
}

.text-display-lang-detect {
    .button-stand-alone {
    -blue-shadow: rgb(49, 98, 156);
    -border-blue: rgb(49, 109, 160);
    -blue-highlight: rgb(97, 157, 206);
    -blue-gradient-start: rgb(70, 140, 199);
    -fx-background-color: 
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-text-fill: snow;
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
    -fx-padding: 3 5 3 10;
    -fx-font-size: 14;
}
}

.out-segmented-button-bar .button:hover {
    -fx-background-color: -blue-gradient-start;
}

.out-segmented-button-bar .button .text {
    -fx-effect: dropshadow(one-pass-box, -blue-shadow, 1, 1, 0, -1);
}
 
.out-segmented-button-bar .button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 0 0 4, 3 0 0 3, 3 0 0 3;
}
 
.out-segmented-button-bar .button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 4 4 0, 0 3 3 0, 0 3 3 0;
}

.out-segmented-button-bar .button.only {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
}

.out-segmented-button-bar .button.send {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
    -fx-background-color:
        -orange-gradient-end,
        -orange-gradient-highlight,
        linear-gradient(to bottom, -orange-gradient-start 0%, -orange-gradient-end 100%);
}

.out-segmented-button-bar .button.send:hover {
    -fx-background-color:
        -orange-gradient-end,
        -orange-gradient-highlight,
        linear-gradient(to top, -orange-gradient-start 0%, -orange-gradient-end 100%);
}

.out-segmented-button-bar .button.send:pressed {
    -fx-background-color:-orange-gradient-end;
}

.out-segmented-button-bar .button.senddirty {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
    -fx-background-color:
        -green-gradient-end,
        -green-gradient-highlight,
        linear-gradient(to bottom, -green-color 0%, -green-gradient-end 100%);
}

.out-segmented-button-bar .button.senddirty:hover {
    -fx-background-color:
        -green-gradient-end,
        -green-gradient-highlight,
        linear-gradient(to top, -green-color 0%, -green-gradient-end 100%);
}

.out-segmented-button-bar .button.senddirty:pressed {
    -fx-background-color:-green-gradient-end;
}

.out-segmented-button-bar .button:pressed {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to top, -blue-highlight 0%, -border-blue 100%);
}

.out-segmented-button-bar .toggle-button:hover {
    -fx-background-color: -blue-gradient-start;
}

.out-segmented-button-bar .toggle-button {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-text-fill: snow;
    -fx-padding: 6 12 6 12;
    -fx-font-size: 11;
}

.out-segmented-button-bar .toggle-button .text {
    -fx-effect: dropshadow(one-pass-box, -blue-shadow, 1, 1, 0, -1);
}
 
.out-segmented-button-bar .toggle-button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 0 0 4, 3 0 0 3, 3 0 0 3;
}
 
.out-segmented-button-bar .toggle-button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 4 4 0, 0 3 3 0, 0 3 3 0;
}
 
.out-segmented-button-bar .toggle-button:selected {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to top, -blue-highlight 0%, -border-blue 100%);
    -fx-font-weight: bold;
}

.output-navbar-disabled .toggle-button,
.output-navbar-disabled .toggle-button.last,
.output-navbar-disabled .toggle-button.selected,
.output-navbar-disabled .toggle-button.pressed,
.output-navbar-disabled .toggle-button.hover {
    -fx-border-radius: 0 4 4 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0 4 4 0;
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 0;
    -fx-font-size: 13;
    -fx-padding: 5 12 5 12;
    -fx-text-fill: gray;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1 1 1 0;
}

.output-navbar .toggle-button.first {
    -fx-border-radius: 4 0 0 4;
    -fx-background-insets: 0;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 4 0 0 4;
}
 
.output-navbar .toggle-button.last {
    -fx-border-radius: 0 4 4 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0 4 4 0;
}

.output-navbar .toggle-button {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 13;
    -fx-padding: 5 12 5 12;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1 1 1 0;
    -fx-background-insets: 1 1 1 0;
}

.output-navbar .toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.output-navbar .toggle-button:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.output-navbar .toggle-button:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.output-navbar .toggle-button:disabled {
    -fx-text-fill: gray;
}

.output-input-label {
    -fx-background-color: -base-background;
    -fx-background-radius: 5;
    -fx-padding: 5 20 5 20;
}

.message-preview-button-bar .toggle-button {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-text-fill: snow;
    -fx-padding: 3 6 3 6;
    -fx-font-size: 10;
}

.message-preview-button-bar .toggle-button .text {
    -fx-effect: dropshadow(one-pass-box, -blue-shadow, 1, 1, 0, -1);
}

.message-preview-button-bar .toggle-button.first {
    -fx-background-color:
        -green-gradient-end,
        -green-gradient-highlight,
        linear-gradient(to bottom, -green-color 0%, -green-gradient-end 100%);
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 0 0 4, 3 0 0 3, 3 0 0 3;
}
 
.message-preview-button-bar .toggle-button.last {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 4 4 0, 0 3 3 0, 0 3 3 0;
}

.message-preview-button-bar .toggle-button.first:hover {
    -fx-background-color: -green-gradient-highlight;
}

.message-preview-button-bar .toggle-button.first:selected {
    -fx-background-color:
        -green-gradient-end,
        -green-gradient-highlight,
        linear-gradient(to top, -green-color 0%, -green-gradient-end 100%);
}

.message-preview-button-bar .toggle-button.last:hover {
    -fx-background-color: -blue-gradient-start;
}

.message-preview-button-bar .toggle-button.last:selected {
     -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to top, -blue-highlight 0%, -border-blue 100%);
}

.message-preview-button-bar .toggle-button.last:disabled {
     -fx-background-color:
        dimgrey,
        lightgrey,
        linear-gradient(to bottom, dimgray 0%, lightgrey 100%);
}

// List and List-Cell definitions are grouped with "window-title-retina-choice-box"
.similar-terms-pos-display {
    -fx-background-color: linear-gradient(to bottom, ivory 0%, rgb(204, 204, 187) 100%);
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-font-size: 10;
}

.sim-terms-bubble-display {
	-fx-border-radius: 0 0 5 5;
}

.similar-terms-context-display .virtual-flow > .clipped-container {
	-fx-border-radius: 0 0 5 5;
	-fx-background-radius: 0 0 5 5;
}

.question-button {
    -fx-background-color: ivory;
    -fx-border-color: -base-border-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 5 0 5;
    -fx-background-radius: 0 5 0 5;
}

.question-button:hover {
    -fx-background-color: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-text-fill: ivory;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 5 0 5;
    -fx-background-radius: 0 5 0 5;
}

.question-button:pressed {
    -fx-background-color: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-text-fill: ivory;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 5 0 5;
    -fx-background-radius: 0 5 0 5;
}

.text-question-button {
    -fx-background-color: ivory;
    -fx-border-color: -base-border-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
}

.text-question-button:hover {
    -fx-background-color: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-text-fill: ivory;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
}

.text-question-button:pressed {
    -fx-background-color: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-text-fill: ivory;
    -fx-font-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
}

.resend-progress > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -green-color);
}

.id-tab {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-border-color: -base-border-color; 
    -fx-border-width: 0 1 1 0;
    -fx-background-radius: 5 0 5 0;
    -fx-border-radius: 0 0 5 0;
    -fx-background-insets: 1 1 1 0;
}

.id-tab-selected {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-border-color: -window-selected-color; 
    -fx-border-width: 0 0 0 0;
    -fx-background-radius: 5 0 5 0;
    -fx-border-radius: 0 0 5 0;
    -fx-background-insets: 1 1 1 0;
}

.social-icon-temp-disabled {
    -fx-fill: rgb(100, 100, 100);
}

.social-icon-selected {
    -fx-fill: white;
}

.social-icon {
    -fx-fill: rgb(100, 100, 100); // TEMPORARY -fx-text-color;
}

.social-button, 
.social-button:hover, 
.social-button:selected {
    -fx-background-insets: 0 1 0 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:
            linear-gradient(to bottom, ivory 0%, -bar-background 100%);
            -fx-border-color: -base-border-color;
    -fx-border-width: 0 0 1 0;
	-fx-padding: 0 1 0 0;
}

/* TEMPORARY WHILE SOCIAL BUTTON NOT ENABLED
.social-button:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.social-button:disabled {
    -fx-text-fill: gray;
}

.social-button-selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}
*/

.input-selector {
    -fx-background-color:
            linear-gradient(to bottom, ivory 0%, -bar-background 100%);
            -fx-border-color: -base-border-color;
    -fx-border-color: -base-border-color; 
    -fx-border-width: 0 1 1 0;
    -fx-background-radius: 5 0 5 0;
    -fx-border-radius: 0 0 5 0;
    -fx-background-insets: 1 1 1 0;
}

.input-selector-pressed {
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
    -fx-border-color: -base-border-color; 
    -fx-border-width: 0 1 1 0;
    -fx-background-radius: 5 0 5 0;
    -fx-border-radius: 0 0 5 0;
    -fx-background-insets: 1 1 1 0;
}

.input-selector-icon {
    -fx-fill: transparent;
    -fx-stroke: -fx-text-color;
    -fx-stroke-type: centered;
    -fx-stroke-width: 1;
}

.input-selector-icon:hover {
    -fx-fill: -fx-text-color;
}

.input-selector-icon-hover {
    -fx-fill: -fx-text-color;
}

.input-selector-icon-pressed {
    -fx-fill: ivory;
}

.window-list-view,
.window-list-view > .viewport {
    -fx-background-color: red;
}

.input-bar-first {
    -fx-padding: 0 0 0 1;
}

.input-bar .toggle-button {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 14;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 1 0;
    -fx-background-insets: 0 0 1 0;
}

.input-bar .toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.input-bar .toggle-button:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.input-bar .toggle-button:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.input-bar .toggle-button:disabled {
    -fx-text-fill: gray;
}

////////////////////////////////////////
//    Temporarily Disabled Buttons    //
////////////////////////////////////////
.input-bar-disabled .toggle-button {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 14;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 1 0;
    -fx-background-insets: 0 0 1 0;
}

.input-bar-disabled .toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.input-bar-disabled .toggle-button:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.input-bar-disabled .toggle-button:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.input-bar-disabled .toggle-button:disabled {
    -fx-text-fill: gray;
}

.status-bar {
    -fx-border-color: -base-border-color;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.status-bar-button {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 -1; 
    -fx-font-size: 10; /* Controls the size of button! */
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 3 0 3 15;
}

.status-bar-button:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.status-bar-button:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.status-bar-button:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.status-bar-button-last {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-font-size: 10; /* Controls the size of button! */
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 3 0 3 15;
}

.status-bar-button-last:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.status-bar-button-last:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.status-bar-button-last:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.status-bar-menubutton {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
    -fx-font-size: 12; /* Controls the size of button! */
    -fx-font-weight: bold;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 3 2 1 2;
}

.status-bar-menubutton:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.status-bar-menubutton:pressed {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

.status-bar-menubutton:hover {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -blue-highlight 100%);
}

// The only way to access the popup menu's container?
.root.popup {
    -fx-background-color: rgb(49, 109, 160, .7);
    -fx-background-radius: 6;
}


.status-bar-menu {
    -fx-background: transparent;
    -fx-background-color: transparent, transparent;
    -fx-background-radius: 6;
    -fx-text-fill: white;
}

.status-bar-menu .menu-item .label {
    -fx-background: transparent;
    -fx-background-color: transparent, transparent;
    -fx-text-fill: white;
}

.status-bar-menu .menu-item:hover {
    -fx-background: rgb(237, 93, 37, 0.5);
    -fx-background-color: rgb(237, 93, 37, 0.5), rgb(237, 93, 37, 0.5);
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.status-bar-menu .menu-item:focused {
    -fx-background: rgb(237, 93, 37, 0.5);
    -fx-background-color: rgb(237, 93, 37, 0.5), rgb(237, 93, 37, 0.5);
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.status-bar-statuspane {
    -fx-border-color: -base-border-color;
    -fx-border-width: 0 1 0 0;
}

.thumb {
    -fx-background-color: -bar-background;
    -fx-border-radius: 0 0 5 0;
    -fx-background-radius: 0 0 5 0;
}

.thumb-fill {
    -fx-fill: rgb(210, 210, 210);
    -fx-fill: 
        linear-gradient(to bottom, ivory 0%, -bar-background 100%); 
}

.expr-radius-tab {
    -fx-border-radius: 5 0 5 0;
    -fx-background-radius: 5 0 5 0; 
    -fx-padding: 0 10 1 10;
}

.expr-input-area {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 0 5 5 5;
}

.bubbletext .text-field {
    -fx-background-insets: 5;
    -fx-border-width: 0px;
    -fx-text-box-border: transparent; 
    -fx-focus-color: transparent;
    -fx-highlight-fill: transparent;
}

.bubble-text-context {
    -fx-background-color: rgb(49, 109, 160, .2);
    -fx-background-radius: 5 5 5 5; 
}

.bubble-text-context .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 10;
    -fx-background-radius: 5 5 5 5; 
}

.bubble-text-context .menu-item:hover {
    -fx-background-color: rgb(237, 93, 37, .6);
    -fx-background-radius: 5 5 5 5;     
}

.bubble-text-context .menu-item .label {
    -fx-text-fill: white;
}

.bubble {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: white; 
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-label-padding: 5px;
}

.bubble-selected {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: -orange-color;
    -fx-text-fill: white;
    -fx-border-color: -orange-color;
    -fx-label-padding: 5px;
}

.fingerprint-bubble {
    -fx-border-radius: 7 7 7 7;
    -fx-background-radius: 7 7 7 7;
    -fx-background-color: white; 
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-label-padding: 5px;
}

.fingerprint-bubble-selected {
    -fx-border-radius: 7 7 7 7;
    -fx-background-radius: 7 7 7 7;
    -fx-background-color: -orange-color;
    -fx-text-fill: white;
    -fx-border-color: -orange-color;
    -fx-label-padding: 5px;
}

.bubble-container {
    -fx-padding: 0 0 5 5;
}

.tag {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: white; 
    -fx-border-color: -border-blue;
    -fx-text-fill: -border-blue;
    -fx-label-padding: 5px;
    -fx-padding: 0 10 0 10;
}

.tag .label {
    -fx-text-fill: -border-blue;
}

.operator {
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
   -fx-background-color: rgb(37, 98, 136);
   -fx-text-fill: white;
   -fx-font-size: 8;
   -fx-padding: 5px;
}

.parenthesis {
    -fx-background-color: darkslategray;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.parenthesis-unmatched {
    -fx-background-color: darkslategray;
    -fx-text-fill: -orange-color;
    -fx-font-size: 18;
    -fx-border-color: darkred;
}

.parenthesis-selected {
    -fx-background-color: darkslategray;
    -fx-text-fill: -green-color;
    -fx-font-size: 18;
    -fx-border-color: -green-color;
}


#bubble {
    -fx-background-color: white;
}

#bubble:selected {
    -fx-background-color: rgb(41, 132, 191);
}

.radial-menu-graphic {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: rgb(28, 44, 56);
}

.radial-menu-graphic-disabled {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: gray;
}

.radial-menu-graphic-selected {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: rgb(28, 44, 56);
}

.radial-menu-text {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.radial-menu-text-selected {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: -orange-color;
}

.radial-menu-text-disabled {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

.radial-menu-symbol {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.radial-menu-symbol-selected {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: -orange-color;
}

.radial-menu-symbol-disabled {
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.radial-menu-item {
    -fx-fill: rgb(41, 132, 191, 0.5);
}

.radial-menu-item-disabled {
    -fx-fill: rgb(28, 44, 56, 0.7);
}

.radial-menu-item-selected {
    -fx-fill: rgb(41, 132, 191);
}

.context-display .tree-table-view .column-header {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1 1 0 0;
}

.context-display .tree-table-view .column-header .label {
    -fx-text-fill: -fx-text-color;
    -fx-padding: 6 6 6 6;
    -fx-font-size: 12;
}

.context-display .tree-table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-text-fill: white;
    -fx-padding: 6 6 6 6;
    -fx-font-size: 12;
}

.context-display .tree-table-cell {
    -fx-border-color: transparent transparent transparent transparent;
}

.context-display .tree-table-view > .column-header-background > .show-hide-columns-button .context-menu {
    -fx-background-color: transparent;
}

.context-display .tree-table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 0 0 ;
  -fx-table-cell-border-color: transparent; //derive(-fx-color, 5%);
}

.context-display .tree-table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
  -fx-table-cell-border-color: transparent;
}

.custom-combo {
    -fx-background-color: transparent;
}

.custom-combo > .label {
    -fx-background-color: transparent;
}

.check-color-combo .combo-box .context-menu {
    -fx-background-color: transparent;
}

.input-text-area {
    -fx-background-radius: 5;
    -fx-background-color: rgb(230, 230, 230);
    -fx-padding: 5;
}

.input-text-no-controls-area {
    -fx-background-radius: 5;
    -fx-background-color: rgb(230, 230, 230);
    //-fx-padding: 5;
}

.keywords-text-no-controls-area {
    -fx-padding: 5;
}

.rich-text-area {
    -fx-background-color: white;
    -fx-background-radius: 0 0 5 5;
}

.rich-text-area-no-controls {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.info-button {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.info-button:hover {
    -fx-background-radius: 8;
    -fx-background-color: -green-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tokens-pagination {
    -fx-spacing: -25;
    -fx-page-information-visible: false;
}

.tokens-pagination > .pagination-control .bullet-button {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, white;
}

.tokens-pagination > .pagination-control .bullet-button:selected {   
    //-fx-background-color: transparent, #DDF1F8, #0E5D79, white, #0E5D79;
    -fx-background-color: transparent, -border-blue, -orange-gradient-highlight, -orange-gradient-start, -orange-gradient-highlight;
}

.tokens-pagination > .pagination-control .left-arrow, .right-arrow {
    -fx-background-color: -blue-shadow, -blue-gradient-start;//#DDF1F8, #0E5D79;
}

.tokens-pagination > .pagination-control > .left-arrow-button .right-arrow-button {
    -fx-border-color: -border-blue;
}

.tokens-display {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-background-color: rgb(226, 238, 253, 0.5);//rgb(249, 249, 249);
    -fx-padding: 25 5 5 5;
}

.indexed-display {
    /*-fx-border-color: -border-blue;//rgb(226, 238, 253)
    -fx-border-width: 1;*/
    -fx-border-radius: 10 0 10 0;
    -fx-background-radius: 10 0 10 0;
    -fx-background-color: -orange-color;
}

.indexed-display-text {
    -fx-fill: white;
}

.showhidepostags-button {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-padding: 1 5 1 5;
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
}

.showhidepostags-button:hover {
    -fx-background-color: -blue-gradient-start;
}

.token-scroll {
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0;
}

.token-scroll > .viewport {
    -fx-background-color: transparent;
}

.token-scroll > .scroll-bar:vertical,
.token-scroll > .scroll-bar:vertical > .track,
.token-scroll > .scroll-bar:vertical > .track-background, 
.token-scroll > .scroll-bar:horizontal,
.token-scroll > .scroll-bar:horizontal > .track,
.token-scroll > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.token-scroll > .scroll-bar > .increment-button, 
.token-scroll > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.token-scroll > .scroll-bar > .thumb {
    -fx-background-radius: 5;
}

.pos-select-all-checkbox .check-box > .box {
    -fx-mark-color: -border-blue;
}

.pos-table .table-row-cell:filled:selected,
.pos-table .table-row-cell:filled:selected:focused {
    -fx-background-color: rgb(237, 93, 37, 0.5);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
    -fx-text-fill: white;
}

.pos-table .table-row-cell:odd:filled:selected,
.pos-table .table-row-cell:odd:filled:selected:focused {
    -fx-background-color: rgb(237, 93, 37, 0.5);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
    -fx-text-fill: white;
}

.pos-table .table-row-cell:odd:filled {
    -fx-background-color: rgb(240, 240, 240);//-fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.pos-table .check-box > .box {
    -fx-mark-color: -border-blue;
}

.pos-table .table-view .show-hide-column-image {
    -fx-fill: white;
    -fx-text-fill: white;
}

.pos-table .table-view .column-header,
.pos-table .table-view:constrained-resize .filler,
.pos-table .table-view .column-header-background {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-text-fill: -border-blue;
    -fx-border-color: -base-border-color;
    -fx-border-width: 1 1 0 0;
}

.pos-table .table-view .column-header-background .label {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-text-fill: -border-blue;
}

.pos-table .table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%); 
    -fx-fill: white;
    -fx-text-fill: white;
}

.pos-table .table-view > .virtual-flow > .scroll-bar:vertical,
.pos-table .table-view > .virtual-flow > .scroll-bar:vertical > .track,
.pos-table .table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.pos-table .table-view > .virtual-flow > .scroll-bar:horizontal,
.pos-table .table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.pos-table .table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.pos-table .table-view > .virtual-flow > .scroll-bar > .increment-button, 
.pos-table .table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.pos-table .scroll-bar > .thumb {
    -fx-background-radius: 5;
}

.slices-display {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10;
    -fx-background-color: rgb(226, 238, 253, 0.5);
}

.original-display {
    -fx-border-radius: 10 0 10 0;
    -fx-background-radius: 10 0 10 0;
    -fx-background-color: -green-color;
}

.original-text {
    -fx-padding: 30 5 5 5;
    -fx-background-color: rgb(226, 238, 253, 0.5);
    -fx-background-radius: 10 10 10 10;
}

.original-display-text {
    -fx-fill: white;
}

.slice-display {
    -fx-border-radius: 10 0 10 0;
    -fx-background-radius: 10 0 10 0;
    -fx-background-color: -orange-color;
}

.slice-display-text {
    -fx-fill: white;
}

.compare-display {
    -fx-padding: 0;
}

.compare-display .button.impression {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 4 4 4 4, 3 3 3 3, 3 3 3 3;
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-text-fill: snow;
    -fx-padding: 0;
    -fx-font-size: 11;
}

.compare-display .button.impression:hover {
    -fx-background-color: -blue-gradient-start;
}

.compare-display .button.impression:pressed {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to top, -blue-highlight 0%, -border-blue 100%);
}

.compare-display .button .text {
    -fx-effect: dropshadow(one-pass-box, -blue-shadow, 1, 1, 0, -1);
}

.compare-display-overlap,
.compare-display-multiaxis {
    -fx-background-color: #eeeeee;
}

.compare-display-chart0,
.compare-display-chart1,
.compare-display-chart2 {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.compare-display-chart0 .chart-plot-background,
.compare-display-chart1 .chart-plot-background,
.compare-display-chart2 .chart-plot-background {
    -fx-background-color: transparent;
}

.compare-display-chart0 .chart-vertical-grid-lines {
    -fx-stroke: dimgray;//-top-bar-color;
}

.compare-display-chart0 .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.compare-display-chart0 .chart-content,
.compare-display-chart1 .chart-content,
.compare-display-chart2 .chart-content {
    -fx-padding: 0 40 0 10;
    -fx-background-color: transparent;
}

.compare-chart-header {
    -fx-background-color:
        linear-gradient(to right, white 0%, -border-blue 100%);
}

.compare-chart-header-label0 {
    -fx-font-weight: 900;
    -fx-font-family: "Helvetica";
    -fx-text-fill: -border-blue;
}

.compare-chart-header-label1 {
    -fx-font-weight: 900;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
}

.compare-chart-header-arrow-body {
    -fx-background-color:
        linear-gradient(to right, -border-blue 0%, white 100%);
}

.compare-chart-value-label {
    -fx-background-radius: 10;
    -fx-alignment: top-center;
    -fx-text-fill: white;
    -fx-background-color: rgb(0,0,0,0.5);
    -fx-font-size: 10;
}

.compare-chart-legend0 {
    -fx-background-color: -chart-data0-color;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.compare-display-chart0 .axis,
.compare-display-chart0 .axis-tick-mark,
.compare-display-chart0 .axis-minor-tick-mark {
    -fx-fill: black;
    -fx-stroke: black;
    -fx-tick-label-fill: black;
    -fx-tick-length: 10;
}

.compare-chart-legend1 {
    -fx-background-color: -chart-data1-color;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.compare-display-chart1 .axis,
.compare-display-chart1 .axis-tick-mark,
.compare-display-chart1 .axis-minor-tick-mark {
    -fx-fill: black;
    -fx-stroke: black;
    -fx-tick-label-fill: black;
    -fx-tick-length: 10;
}

.compare-chart-legend2 {
    -fx-background-color: -chart-data2-color;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.compare-display-chart2 .axis,
.compare-display-chart2 .axis-tick-mark,
.compare-display-chart2 .axis-minor-tick-mark {
    -fx-fill: black;
    -fx-stroke: black;
    -fx-tick-label-fill: black;
    -fx-tick-length: 10;
}

.compare-display-chart0 .data0.chart-bar {
    -fx-background-color: -chart-data0-color;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5), 5,0,5,5);
}

.compare-display-chart0 .data1.chart-bar {
    -fx-background-color: -chart-data1-color;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5), 5,0,5,5);
}

.compare-display-chart0 .data2.chart-bar {
    -fx-background-color: -chart-data2-color;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5), 5,0,5,5);
}

.compare-overlap-leftbar {
    -fx-background-color: derive(-border-blue, 50%);
}

.compare-overlap-rightbar {
    -fx-background-color: derive(-blue-highlight, 50%);
}

.compare-overlap-overlapbar {
    -fx-background-color: rgb(237, 93, 37, 0.4);
}

.compare-impression-display-internal-pane {
    -fx-background-color: -base-border-color;//rgb(237, 93, 37, .30);
    -fx-padding: 10 10 5 10;
    -fx-background-radius: 10;
}

.compare-impression-display-metric-buttons {
    -fx-background-color: transparent;
}

.compare-impression-display-metric-buttons .toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: rgb(237, 93, 37);
    -fx-border-width: 1;
    -fx-text-fill: rgb(237, 93, 37);
    -fx-padding: 2 5 2 5;
}

.compare-impression-display-metric-buttons .toggle-button:hover {
    -fx-text-fill: white;
}

.compare-impression-display-metric-buttons .toggle-button:selected {
    -fx-background-color: rgb(237, 93, 37);
    -fx-text-fill: white;
}

.compare-impression-display-metric-buttons .toggle-button.first {
    -fx-background-radius: 5 0 0 5;
}

.compare-impression-display-metric-buttons .toggle-button.last {
    -fx-background-radius: 0 5 5 0;
}

.retina-choice-box {
    -fx-background-color:
        -border-blue,
        -blue-highlight,
        linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
    -fx-background-color: -top-bar-color;
    -fx-background-radius: 6;
}

.retina-choice-box .list-view {
    -fx-background: rgb(49, 109, 160, .6);
    -fx-background-color: rgb(49, 109, 160, .6), rgb(49, 109, 160, .6);
    -fx-background-radius: 0 0 5 5;
}

.retina-choice-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: snow;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
    -fx-font-size: 14;
    -fx-background-radius: 5;
}

.retina-choice-box .list-view .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent, transparent;
    -fx-text-fill: snow;
}

.retina-choice-box .list-view .list-cell:filled:hover  {
    -fx-background-color: rgb(237, 93, 37, 0.6);
    -fx-text-fill: white;
}

.out-atts-range > .text-field {
    -fx-font-size: 10;
    -fx-padding: 3 2 3 2;
}

.out-atts-range > .range-slider {
    -fx-font-size: 8;
}

.out-atts-range > .range-slider .range-bar {
    -fx-background-color: -orange-color;
}

.out-atts-range > .range-slider .low-thumb, 
.out-atts-range > .range-slider .high-thumb {
    -fx-shape: "M 0 0 L 10 0 L 5 10 L 0 0 Z";
}

.sim-terms-popover {
    -fx-background-color: -orange-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.window-title-attribute-contents {
    -fx-padding: 3;
}

.radius-visual-group {
    -fx-background-radius: 5;
    -fx-background-color: -base-background;
    -fx-border-color: -base-border-color;
    -fx-border-radius: 5;
    -fx-padding: 5 5 5 5;
}

.radius-visual-group .check-box {
    -fx-font-size: 11;
    -fx-text-fill: -blue-shadow;
}

.radius-visual-group .check-box .box {
    -fx-border-color: -border-blue;
    -fx-border-radius: 4;
    -fx-font-size: 8;
}

.radius-visual-group-label {
    -fx-background-color: transparent;
    -fx-text-fill: -blue-shadow;
    -fx-font-size: 11;
}

.radius-visual-group-label-medium {
    -fx-background-color: transparent;
    -fx-text-fill: -blue-shadow;
    -fx-font-size: 10;
    -fx-font-family: arial;
    -fx-font-style: italic;
    -fx-padding: 3 0 0 0;
}

.radius-visual-group-label-small {
    -fx-background-color: transparent;
    -fx-text-fill: -blue-shadow;
    -fx-font-size: 9;
}

.window-title-drag-mode-toggle {
    -fx-padding: 0 0 -5 0;
}

.window-title-drag-mode-toggle .toggle-button,
.window-title-drag-mode-toggle .button {
    -fx-background-color:
        linear-gradient(to bottom, ivory 0%, -bar-background 100%);
    -fx-background-radius: 5;
    -fx-text-fill: -border-blue;
    -fx-font-size: 10;
    -fx-padding: 2 0 2 0;
}

.window-title-drag-mode-toggle .toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color:
        linear-gradient(to bottom, -blue-highlight 0%, -border-blue 100%);
}

.window-title-drag-mode-toggle .toggle-button:pressed,
.window-title-drag-mode-toggle .toggle-button:armed,
.window-title-drag-mode-toggle .button:pressed {
    -fx-text-fill: -blue-highlight;
    -fx-background-color:
        linear-gradient(to bottom, -border-blue 0%, -orange-color 100%);//-blue-highlight 100%);
}

.window-title-drag-mode-toggle .toggle-button:hover,
.window-title-drag-mode-toggle .button:hover {
    -fx-text-fill: -green-color;
}

.window-title-retina-choice-box {
    -fx-background-color: rgb(49, 109, 160, .6);
    -fx-background-radius: 6;
}

.similar-terms-pos-display .list-view,
.text-display-lang-detect .list-view,
.window-title-retina-choice-box .list-view {
    -fx-background: rgb(49, 109, 160, .6);
    -fx-background-color: rgb(49, 109, 160, .6), rgb(49, 109, 160, .6);
    -fx-background-radius: 0 0 5 5;
}

.similar-terms-pos-display .list-cell,
.text-display-lang-detect .list-cell,
.window-title-retina-choice-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: snow;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
    -fx-font-size: 12;
    -fx-background-radius: 5;
}

.similar-terms-pos-display .list-view .list-cell,
.text-display-lang-detect .list-view .list-cell,
.window-title-retina-choice-box .list-view .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent, transparent;
    -fx-text-fill: snow;
}

.similar-terms-pos-display .list-view .list-cell:filled:hover,
.text-display-lang-detect .list-view .list-cell:filled:hover,
.window-title-retina-choice-box .list-view .list-cell:filled:hover  {
    -fx-background-color: rgb(237, 93, 37, 0.6);
    -fx-text-fill: white;
}

