.button.pressed { -fx-background-color: ghostwhite; }

.button, .toggle-button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button.apply-unset { 
   //-fx-background-image: url(apply-button.png);
   -fx-background-color:
       linear-gradient(to bottom, ivory 0%, -bar-background 100%);
   -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
   -fx-background-radius: 5;
   -fx-border-radius: 5;
   -fx-border-color: -base-border-color;
   -fx-border-width: 2;
   -fx-text-fill: -border-blue;
   -fx-padding: 2 10 2 0;
   -fx-font-size: 14;
}

.button.apply-set { 
    //-fx-background-image: url(apply-button2.png);
    -fx-background-color:
	       //-border-blue,
	       //-blue-highlight,
	       linear-gradient(to bottom, -blue-gradient-start 0%, -border-blue 100%);
	-fx-background-radius: 5;
	-fx-text-fill: snow;
	-fx-padding: 2 10 2 0;
	-fx-font-size: 14;
}

.label.apply-unset {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
	    l0.003,0.004L14.596,2.055z";
	-fx-scale-x: 0.4;
	-fx-scale-y: 0.7;
	-fx-background-color: -border-blue;
}

.label.apply-set {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
	    l0.003,0.004L14.596,2.055z";
	-fx-scale-x: 0.4;
	-fx-scale-y: 0.7;
	-fx-background-color: snow;
}

.label.apply-set-hover {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
	    l0.003,0.004L14.596,2.055z";
	-fx-scale-x: .7;
	-fx-scale-y: 1.0;
	-fx-background-color: snow;
}

.button.undo { -fx-background-image: url(undo.png); }
.button.redo { -fx-background-image: url(redo.png); }
.button.cut { -fx-background-image: url(cut.png); }
.button.copy { -fx-background-image: url(copy.png); }
.button.paste { -fx-background-image: url(drag_paste.png); }
.button.paste:disabled { -fx-background-image: url(drag_paste_disabled.png); }
.button.bold { -fx-background-image: url(bold.png); }
.button.italic { -fx-background-image: url(italic.png); }
.button.underline { -fx-background-image: url(underline.png); }
.button.strikethrough { -fx-background-image: url(strikethrough.png); }

.toggle-button.align-left { -fx-background-image: url(align-left.png); }
.toggle-button.align-center { -fx-background-image: url(align-center.png); }
.toggle-button.align-right { -fx-background-image: url(align-right.png); }
.toggle-button.align-justify { -fx-background-image: url(align-justify.png); }